<%- include('partials/header') %>

<div id="user-personal-profile">
  <div id="user-info-left-group">
    <svg class="user-profile-white-left-box">
      <rect id="user-profile-white-left-box" rx="10" ry="10" x="0" y="0" width="770" height="664">
      </rect>
    </svg>
    <!-- <div class="user-profile-grey-box">
		</div> -->
    <form action="/profileedit/<%-userdetail._id %>" method="POST">
      <div id="CONTACT_INFORMATION">
        <span>CONTACT INFORMATION</span>
      </div>
      <div id="user-info-row2">
        <div id="username-group">
          <div id="Gender">
            <span>Birth Date</span>
          </div>
          <input class="username-box" id="profiledob" type="Date" name="dob" disabled value="<%- userdetail.dob %>">
        </div>
        <div id="email-group">
          <div id="Email_Address">
            <span>Email Address</span>
          </div>
          <input class="email-box" type="text" readonly disabled name="prousername" value="<%- userdetail.username %>">
        </div>
      </div>
      <div id="user-info-row1">
        <div id="firstname-group">
          <div id="firstname">
            <span>First name</span>
          </div>
          <input class="firstname-box" id="profilefirstname" type="text" name="firstname" disabled value="<%- userdetail.firstname %>">
        </div>
        <div id="lastname-group">
          <div id="lastname">
            <span>Last name</span><br>
          </div>
          <input class="lastname-box" id="profilelastname" type="text" name="lastname" disabled value="<%- userdetail.lastname %>">
        </div>
      </div>
      <svg class="user-info-separator" viewBox="0 0 636 1">
        <path id="user-info-separator" d="M 0 0 L 636 0">
        </path>
      </svg>
      <div id="USER_INFORMATION">
        <span>USER INFORMATION</span>
      </div>
      <div id="contact-info-row1">
        <div id="address-group">
          <div id="address">
            <span>Address</span>
          </div>
          <input class="address-box" id="profileaddress" type="text" name="address" value="<%- userdetail.address %>" disabled>
        </div>
      </div>
      <div id="contact-info-row2">
        <div id="contact-state-group">
          <div id="contact-state">
            <span>State</span>
          </div>
          <input class="contact-state-box" id="profilestate" type="text" name="state" disabled value="<%- userdetail.state %>">
        </div>
        <div id="contact-city-group">
          <div id="contact-city">
            <span>City</span>
          </div>
          <input class="conatct-city-box" id="profilecity" type="text" name="city" disabled value="<%- userdetail.city %>">
        </div>
        <div id="contact-contact-number-group">
          <div id="contact-contact-number">
            <span>Contact Number</span>
          </div>
          <input class="contact-contact-number-box" id="profilecontact" type="text" name="contact" disabled value="<%- userdetail.contact %>">
        </div>
        <div id="disclaimer">
          <span>*This information is only visible to you. No one else can access these information.</span>
        </div>
      </div>
      <div id="My_Account">
        <span>My Account</span>
      </div>
      <button type="button" class="edit-btn" onclick="editFunction()" name="button">Edit</button>
      <button type="submit" class="save-btn" onclick="saveFunction()" name="button">Save</button>
			<!-- <p id="savemessage">The User Info is Updated.</p> -->
      <button type="button" class="cancel-btn" onclick="cancelFunction()" name="button">Cancel</button>
    </form>
  </div>
  <div id="user-info-right-group">
    <svg class="user-profile-white-right-box">
      <rect id="user-profile-white-right-box" rx="10" ry="10" x="0" y="0" width="312" height="587">
      </rect>
    </svg>
    <div id="user-profile-posts-group">
      <div id="user-info-total-posts">
        <span>22</span>
      </div>
      <div id="user-profile-posts-text">
        <span>Posts</span>
      </div>
    </div>
    <div id="user-profile-blogs-group">
      <div id="user-info-total-blogs">
        <span>22</span>
      </div>
      <div id="user-profile-blogs-text">
        <span>blogs</span>
      </div>
    </div>
    <div id="User-profile-username">
      <span><%- userdetail.firstname %> <%- userdetail.lastname %></span>
    </div>
    <div id="delete-account">
      <span>Delete Account</span>
    </div>
    <div id="change-password">
      <span>Change Password </span>
    </div>
    <div id="report-issue">
      <span>Report an Issue</span>
    </div>
    <div id="Female">
      <span><%- userdetail.gender %></span>
    </div>
		<div class="image-circle-group">
			<img id="user-image-circle" src="data:image/<%= userdetail.image.contentType%>;base64,<%=userdetail.image.data.toString('base64')%>">
			<button class="fas fa-camera upload-img-btn" data-toggle="modal" data-target="#newprofilepicturemodal" titile="Update Profile Photo"></button>
		</div>

		<div class="modal fade modal-custom" id="newprofilepicturemodal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Upload New Profile Picture</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- <form class="" method="post"> -->
				<!-- Modal body -->
				<div class="modal-body">
					<form action="/userimgupload/<%-userdetail._id %>" method="POST" enctype="multipart/form-data">
						<div class="row row-modal">
							<div class="col-md-12">

								<input type="file" id="image" name="image" placeholder="Upload Image" value="Upload Image">
							</div>
						</div>

						<div class="col-sm-12">
							<div class="preview-images"></div>
						</div>
						<div class="row row-modal">
							<button type="submit" class="btn btn-primary close-btn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


  </div>
</div>



<%- include('partials/footer') %>
