<%- include('partials/header') %>

<div class="row">
  <div class="col-md-3 left">
    <div class="profile-box">
      <div class="row profile-row">
        <div class="col-md-4">
            <i class="fas fa-envelope fa-2x"></i>
        </div>
        <div class="col-md-4">
            <i class="fas fa-bell fa-2x"></i>
        </div>
        <div class="col-md-4">
            <i class="fas fa-phone-square fa-2x"></i>
        </div>

      </div>


    </div>
    <div class="search-box">
      <div id="If_you_are_looking_for_Adoptio">
        <span>If you are looking for Adoption, We search hundreds of shelters nationwide to find the pet that's right for you</span>
      </div>
      <form class="" action="index.html" method="post">
        <select class="breed" class="" name="breed">
          <option value="0">All Breed</option>
        </select>
        <input type="text" class="location" name="location" value="">
        <button type="submit" class="search" name="button">Search</button>
      </form>
      <div id="Advanced_Search">
        <span>Advanced Search</span>
      </div>
    </div>

  </div>
  <div class="col-md-6 center">
    <div class="row">
      <div class="col-md-6">
        <button class="center-btn" type="button" name="button" data-toggle="modal" data-target="#newpostmodal">Dog Adoption Post</button>
      </div>
      <div class="col-md-6">
        <button class="center-btn" type="button" name="button" data-toggle="modal" data-target="#newblogmodal">New Blog</button>
      </div>
    </div>
    <div class="modal fade modal-custom" id="newpostmodal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">New Post</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <!-- enctype="multipart/form-data" -->
          <div class="modal-body">
            <form action="/dogadoptionpost" enctype="multipart/form-data" method="POST">
              <div class="row row-modal">
                <div class="col-md-6">
                  <input class="form-control" type="text" placeholder="Dog's Name" name="dogname" value="">
                </div>
                <div class="col-md-6">
                  <select class="form-control" onchange="show(this)" class="" name="breed">
                    <option value="">Select Breed</option>
                    <option value="Dalmatian">Dalmatian</option>
                    <option value="Doberman">Doberman</option>
                  </select>
                </div>
              </div>
              <div class="row row-modal">
                <div class="col-md-6">
                  <select class="form-control" name="gender">
                    <option value="0">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select class="form-control" name="age">
                    <option value="">Select Age</option>
                    <option value="Puppy">Puppy</option>
                    <option value="Young">Young</option>
                    <option value="Adult">Adult</option>
                    <option value="Senior">Senior</option>
                  </select>
                </div>
              </div>

              <div class="row row-modal">
                <div class="col-md-6">
                  <select class="form-control" name="color">
                    <option value="">Select Color</option>
                    <option value="Apricot">Apricot / Beige</option>
                    <option value="Bicolor">Bicolor</option>
                    <option value="Brindle">Brindle</option>
                    <option value="Brown">Brown / Chocolate</option>
                    <option value="Golden">Golden</option>
                    <option value="Gray">Gray / Silver</option>
                    <option value="Blue">Blue</option>
                    <option value="Harlequin">Harlequin</option>
                    <option value="Merle(Blue)">Merle(Blue)</option>
                    <option value="Merle(Red)">Merle(Red)</option>
                    <option value="Red">Red / Chestnut/ Orange</option>
                    <option value="Sable">Sable</option>
                    <option value="Tricolor">Tricolor(Brown, Black and White)</option>
                    <option value="White">White/Cream</option>
                    <option value="Yellow">Yellow / Tan / Blond / Fawn</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select class="form-control" class="" name="health">
                    <option value="">Select Health</option>
                    <option value="Vaccinated">Vaccinated</option>
                    <option value="No Vaccination">No Vaccination</option>
                  </select>
                </div>
              </div>

              <input type="hidden" name="country" id="countryId" value="IN" />
              <div class="row row-modal">
                <div class="col-md-6">
                  <select name="state" class="states order-alpha form-control" id="stateId">
                    <option value="">Select State</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select name="city" class="form-control cities order-alpha limit-pop-100000" id="cityId">
                    <option value="">Select City</option>
                  </select>
                </div>
              </div>
              <div class="row row-modal">
                <div class="col-md-2">
                  <span class="form-control1">Is good with...
                </div>
                <div class="col-md-10">
                  <label class="checkbox-inline">
                    <input type="checkbox" name="otherdogs" value="Other Dogs">Other Dogs
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" name="othercats" value="Cats">Cats
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" name="children" value="Children">Children
                  </label>
                </div>
              </div>
              <div class="row row-modal">
                <div class="col-md-12">
                  <textarea name="otherdetails" class="textareaclass" rows="4" name="otherdetails" placeholder="Type Some Details..."></textarea>
                </div>
              </div>
              <div class="row row-modal">
                <div class="col-md-12">
                  <input type="file" id="image" name="image">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="preview-images"></div>
              </div>
              <button type="Submit" class="btn close-btn">Submit</button>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn close-btn" data-dismiss="modal">close</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Blog Modal -->
    <div class="modal fade modal-custom" id="newblogmodal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">New Post</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- <form class="" method="post"> -->
          <!-- Modal body -->
          <div class="modal-body">
            <form action="/img" method="POST" enctype="multipart/form-data">
              <div class="row row-modal">
                <div class="col-md-12">
                  <input class="form-control" type="text" placeholder="Title" name="name" value="">
                </div>
              </div>
              <div class="row row-modal">
                <div class="col-md-12">
                  <textarea name="desc" class="textareaclass" rows="4" placeholder="Type some Text here..."></textarea>
                </div>
              </div>
              <div class="row row-modal">
                <div class="col-md-12">

                  <input type="file" id="image" name="image" placeholder="Upload Image" value="Upload Image">
                </div>
              </div>

              <div class="col-sm-12">
                <div class="preview-images"></div>
              </div>
              <div class="row row-modal">
                <button type="submit" class="btn btn-primary close-btn">Submit</button>
              </div>
            </form>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn close-btn" data-dismiss="modal">Close</button>
          </div>
          <!-- </form> -->
        </div>
      </div>
    </div>



    <div class="row separator">

    </div>

    <div class="row">
    <% items.forEach(function(data) { %>

      <div class="col-md-6">
        <div id="dog-adoption-post">
          <div id="dog-img-box">
            <div class="dog-feed-white-box">
            </div>
            <!-- <img id="dog-image" src="./dogimguploads/<%= data.image.data%>.png"> -->
            <img id="dog-image" src="data:image/<%=data.image.contentType%>;base64,<%=data.image.data.toString('base64')%>">
            <div id="dog_name">
              <span><%= data.dogName %></span>
            </div>
            <div id="gender">
              <span><%= data.gender %></span>
            </div>
            <div id="Color">
              <span><%= data.color %></span>
            </div>
            <div id="health">
              <span>Vaccinated</span>
            </div>
            <button class="far fa-heart wishlist-btn" type="button" name="button"></button>
            <button type="button" class="contact-owner-btn" name="button">View Full Details</button>

            <div id="Place">
              <span><%= data.city %></span>
            </div>
            <div id="date-posted">
              <span>12-09-2020</span>
            </div>
          </div>
        </div>
      </div>

    <% }) %>
    </div>
  </div>
  <div class="col-md-3 right">
    <div class="feature-box">

    <p class="features">Featured Blogs</p>
    <div class="home-blogs">
      <span class="home-blogs-title">Why Are Dogs Given Up?</span>
      <br>
      <span class="home-blogs-body">Find out the most common reasons for pet relinquishment. The truth may surprise you! <a style="font-size: 12px;" href="#">Read more.</a></span>
    </div>
    <div class="home-blogs">
      <span class="home-blogs-title">Top 10 things to know?</span>
      <br>
      <span class="home-blogs-body">Adopting for the first time. These top 10 steps will help you in easy adoption! <a style="font-size: 12px;" href="#">Read more.</a></span>
    </div>
      </div>
  </div>


</div>



<%- include('partials/footer') %>
